*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable */
:root {
  --bg-light: #f9f7f7;
  --bg-white: #ffffff;
  --primary: #112d4e;
  --secondary: rgba(17, 45, 78, 0.75);
  --bg-text: rgba(17, 45, 78, 0.04);
}

body {
  font-size: 14px;
  width: 100vw;
  color: var(--primary);
  font-family: sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
}

.lead {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3rem;
  color: var(--secondary);
}

.text-center {
  text-align: center;
}

.bg-text {
  position: absolute;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--bg-text);
}

.cards  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1;
  flex-basis: 50%;
}

.card-title {
  font-size: 0.9rem;
}

.card-description {
  font-size: 0.6rem;
  color: var(--secondary);
}

.btn {
  padding: 0.4rem 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn-primary {
  background: var(--primary);
  color: var(--bg-white);
}

section {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1.5rem;
}

/*Navbar*/
#nav {
  /*border: 2px solid black;*/
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background: var(--bg-white);
}

#nav > .logo {
  margin-right: auto;
}

#nav > .logo > span {
  background: var(--primary);
  color: var(--bg-light);
}

#nav > .logo ~ a {
  display: inline-block;
  padding: 5px 5px 0 5px;
  color: inherit;
  position: relative;
}

#nav >.logo ~ a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  border-bottom: 2px solid var(--primary);
  width: 0%;
  transition: 0.5s ease;
}

#nav > .logo ~ a:hover:after {
  width: 100%;
}

/*Jumbotron*/
#jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-white);
  
}

#jumbotron > .jumbotron-img {
  position: relative;
}

#jumbotron > .jumbotron-img > img {
  width: 70%;
  position: relative;
  z-index: 2;
}

#jumbotron > .jumbotron-img > .bg-text:nth-of-type(1) {
  top: 0;
  right: 0;
}

#jumbotron > .jumbotron-img > .bg-text:nth-of-type(2) {
  top: 80px;
  right: 0;
}

#jumbotron > .jumbotron-img > .bg-text:nth-of-type(3) {
  top: 160px;
  right: 0;
}

#jumbotron > .jumbotron-text {
  margin-top: 0.5rem;
  text-align: center;
}

#jumbotron > .jumbotron-text > .lead {
  margin-top: 0.5rem;
  line-height: 1.4rem;
}

/*Hero*/
#hero-page {
  display: flex;
  flex-direction: row-reverse;
}

#hero-page > .hero-img {
  flex: 1;
}

#hero-page > .hero-img > img {
  width: 100%;
}

#hero-page > .hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-page > .hero-text > .title {
  margin-bottom: 1.5rem;
}

/*Features*/
#features {
  background: var(--bg-light);

}

#features > .lead {
  margin: 0.5rem 0;
  padding-bottom: 1rem;
}

#features > .cards > .card {
  margin-bottom: 1.5rem;
}

#features > .cards > .card > i {
  font-size: 1.7rem;
  padding-bottom: 0.2rem;
}

#features > .cards > .card > h3{
  padding-bottom: 0.5rem;
}

/*Video*/
#video > iframe {
  width: 100%;
  border-radius: 5px;
}

#video > h2 {
  padding-bottom: 1.5rem;
}

/* Core */
#core-feature {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#core-feature > i {
  font-size: 3rem;
  padding: 0.5rem 0.5rem;
  opacity: 0.6;
}

/* Subs */
#subs {
  background: var(--bg-light);
}

#subs > h2,
#subs > p {
  padding-bottom: 0.5rem;
}

.form>.form-element {
  position: relative;
  margin-bottom: 1rem;
}

.form>.form-element>input {
  background: inherit;
  border: 0;
  outline: none;
  height: 30px;
  border-bottom: 1px solid var(--secondary);
  width: 75%;
}

.form>.form-element>.form-label {
  display: inline-block;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--secondary);
  transition: 0.5s ease;
}

.form>.form-element>.form-label>.label-content {
  position: relative;
  top: 0;
  font-size: 0.9rem;
  color: var(--secondary);
  transition: 0.5s ease;
}

/*Animation*/
.form>.form-element>input:focus+.form-label,
.form>.form-element>input:valid+.form-label {
  width: 75%;
}

.form>.form-element>input:focus+.form-label>.label-content,
.form>.form-element>input:valid+.form-label>.label-content {
  top: -25px;
  font-size: 0.7rem;
  color: var(--primary);
}